#home{
   position: relative;
   background: url('../../assets/light-bg.png');
   background-size: cover;
   background-repeat: repeat;
   background-position: center;

   .app__wrapper{
      padding: 0;
      .copyright{
         display: none;
      }
   }
}
.app__header{
   width: 1050px;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   padding: 6rem 2rem 0;


   @media screen and (min-width: 2000px) { //for large screens
      padding-top: 8rem;
      width: 1300px;
   }
   //for mobile screens
   @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
      width: 100%;
      .app__header-info{
         text-align: center;
         padding: 0 0 8rem 0;
      }
   }
   @media screen and (max-width: 450px){
      padding: 6rem 2rem 1rem;
   }
}


.app__header-info{
   display: flex;
   flex-direction: column;
   color: #465056;

   @media screen and (max-width: 2000px) {
      width: 100%;
   }

   @media screen and (max-width: 650px) {
      .heading-text{
         font-size: 3.5rem;
      }
      .heading-desc{
         font-size: 1.3rem;
      }
   }

   @media screen and (max-width: 600px) {
      .heading-text{
         font-size: 3rem;
         margin-right: 0;
      }
   }
}

.heading-text{
   font-size: 4.3rem;
   line-height: 1;
   margin-bottom: 1rem;

   @media screen and (max-width: 1200px) {
      margin-top: 2rem;
   }
}

.heading-desc{
   margin-top: -0.5rem;
   font-weight: 500;
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.heading-desc-2{
   font-size: 1.1rem;
}

.cta{
   margin-top: 4rem;
   a{
      text-decoration: none;
      background-color: var(--secondary-color);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      color: white;
      padding: 1.1rem 2.5rem;
      border-radius: 30px;
      &:hover{
         opacity: 0.9;
      }
   }

   @media screen and (max-width: 344px){
      a{
         font-size: 0.8rem;
      }
   }
}

.app__header-badge{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
 

   .badge-cmp, .tag-cmp{
      padding: 1rem 2rem;
      border: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      width: auto;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
   }
   .tag-cmp{
      flex-direction: column;
      margin-top: 3rem;
      p{
         width: 100%;
         text-transform: uppercase;
         text-align: right;
      }
   }
   span{
      font-size: 2.5rem;

      @media screen and (min-width: 2000px) {
         font-size: 5rem;
      }
   }

   @media  screen and (max-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
   }
}

.app__header-img{
   position: relative;
   img{
      z-index: 1;
      width: 520px;
   }
   .overlay_circle{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
   }

   @media screen and (max-width: 1200px) {
      margin: 2rem 0;
   }
   @media screen and (max-width: 750px) {
      img{
         width: 100%;
      }
   }
}

.app__header-circles{
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   div{
      width: 100px;
      height: 100px;
      border-radius: 50%;

      background: var(--white-color);
      box-shadow: 0 0 20px rgba(0,0,0,0.1);

      img{
         width: 60%;
      }
   }

   .circle-0{
      width: 115px;
      height: 115px;
      animation: float2 6s ease-in-out infinite;

      img{
         width: 80%;
      }
      
      position: absolute;
      right: 10%;
      top: 20%;
   }
   .circle-1{
      margin: 1.75rem;
      width: 160px;
      height: 160px;
      animation: float 6s ease-in-out infinite;

      position: absolute;
      right: -4rem;
      bottom: 1rem;

      img{
         animation: spin 18s linear infinite;
      }

   }
   .circle-2{
      width: 90px;
      height: 90px;
      animation: float 6s ease-in-out infinite;

      position: absolute;
      bottom: 25%;

   }

   @keyframes float {
      0% {
         transform: translatey(0px);
      }
      50% {
         transform: translatey(-20px);
      }
      100% {
         transform: translatey(0px);
      }
   }

   @keyframes float2 {
      0% {
         transform: translatey(-20px);
      }
      50% {
         transform: translatey(0px);
      }
      100% {
         transform: translatey(-20px);
      }
   }

   @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

   @media screen  and (max-width: 750px){
      .circle-1{
         width: 120px;
         height: 120px;
         right: -5%;
      }   
   }

   @media screen and (max-width: 700px) {
      .circle-0{
         right: 0;
         top: 10%;
         bottom: 0;
         width: 75px;
         height: 75px;
      }
      .circle-1{
         right: -10%;
         width: 75px;
         height: 75px;
         bottom: -10%
      }
      .circle-2{
         left: -15%;
         width: 75px;
         height: 75px;
      }
   }

   @media screen and (max-width: 500px) {
      .circle-0{
         right: 1%;
         top: 30%;
      }
      .circle-1{
         right: -1%;
         bottom: 1%
      }
      .circle-2{
         left: -1%;
      }
   }

   @media screen and (max-width: 400px) {
      .circle-0, .circle-1, .circle-2{
         width: 50px;
         height: 50px;
      }
      .circle-0{
         right: 10%;
      }
   }
}